*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921; 
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-ef3939: #ef3939;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-d9d9d9: #eaeaea;

  --color-1c1c1b: #1c1c1b;
}
.card-wrapper {
  background-color: #ffffff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

/**  =========== Header Section Starts ================= */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-febd69);
}
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-links a, 
.header-bottom .dropdown button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.3;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 50px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--color-232f3e);
  border-radius: 18px;
  color: #ffffff;
  font-size: 14px;
  padding: 13px 33px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
/**  =========== Header Section Ends ================= */

/**  =========== Footer Section Starts ================= */
footer {
  background-color: var(--color-232f3e);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  font-weight: 100;
  color: #ffffff;
  padding: 8px 17px;
}
footer .footer-links ul {
  padding-left: 0px;
  font-size: small;
}
footer .footer-links li {
  list-style: none;
}
footer address {
  font-size: small;
}
/**  =========== Footer Section Ends ================= */


/**  =========== Home Page Section Starts ================= */
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  color: #1c1b1b;
  margin: 0 0 12px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner-content {
  top: 20%;
  left: 5%;
}
.small-banner-content h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
  color: #1c1b1b;
  margin: 0 0 12px;
  letter-spacing: -1px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}


/**  =========== Home Page Section Ends ================= */

/**  =========== Home Wrapper 2 Section Starts ================= */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
.home-wrapper-2 .subtitle p{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #666;
  letter-spacing: .3px;
}
.home-wrapper-2 .subtitle h6{
  font-weight: 600;
  line-height: 22px;
  font-size: 16px;
  letter-spacing: .3px;
  margin: 0 0 5px;
}
/**  =========== Home Wrapper 2 Section Ends ================= */

/**  =========== Categories Section Starts ================= */
.categories {
  background-color: #ffffff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div{
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3){
  border-right: 1px solid var(--color-ededed);
}
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid var(--color-ededed);
}


/**============== Categories Section Ends ================= */


/**============== Blog Section Ends ================= */
.blog-card {
  background-color: #ffffff;
  border-radius: 10px;
}
.section-heading {
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 30px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 10px;
}
.blog-content p.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--color-777777);
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921)
}
.blog-content .desc {
  color: var(--color-base-text);
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: .3px;
  padding-right: 0;
  margin: 0 0 15px;
  color: #777777;
}

.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-1c1c1b);

}
.single-blog-card p {
  color: var(--color-777777);
  font-size: 14px;
}
.blog-link {
  font-size: 15px;
  font-weight: 600;
  color: var(--color-777777);
}
.blog-link:hover {
  color: var(--color-777777);
}
/**============== Blog Section Ends ================= */

/**============== Product Card Section Starts ================= */
.product-card {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #0000001a;
  width: 100%;
  margin: 15px 0 0 0;
}

.product-card .product-image {
  height: 270px;
}
.product-card .product-image > img{
  object-fit: contain;
}
.product-card:hover .product-image > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image > img:last-child{
  display: block;
}

.product-card .product-image > img:last-child{
  display: none;
}

.product-card:hover .action-bar{
  right: 28px;
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b)
}

.product-card p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin: 0 20px 0 0;
}
.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}
.action-bar {
  top: 20%;
  right: -23px;
  transition: 0.3s ease-in-out;
}
.wishlist {
  top: 8%;
  right: 10%;
  
}
/**============== Product Card Section Ends ================= */


/**============== Special Product Section Starts ================= */

.special-product {
  background-color: #ffffff;
  padding: 20px 10px;  
  border-radius: 10px;
}
.special-product .badge {
  background-color: var(--color-ef3939);
}
/**============== Special Product Section Ends ================= */


/**============== Famous Product Section Starts ================= */
.famous-card .famous-content{
  top: 10%;
  left: 10%;
}
.famous-card img{
  border-radius: 10px;
}
.famous-content h5 {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 7px;
  color: #ffffff;
  
}
.famous-content h6 {
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  color: #ffffff;
}

.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: #ffffff;
}

/**============== Famous Product Section Ends =================== */

/**============== Our Store Section Starts =================== */
.filter-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px 25px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 20px;
}
.filter-card ul, .filter-card, .form-check-label  {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}
.filter-card ul li:hover {
  color: var(--color-232f3e)
}
.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);

}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: var(--color-febd69);
}
.sub-title{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
  margin-top: 15px;
}
.colors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors li {
  width: 20px;
  height: 20px;
  background-color: #ff0000;
  border-radius: 50%;
}
.random-products h4 {
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: .3px;
  color: var(--color-1c1c1b);
  }
.random-products .price {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0 0;
  color: var(--color-1c1c1b);
}
.random-products:first-child{
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}
.sort-by {
  width: 100px;
}
.grid-link{
  background-color: #f2f2f2;
  color: var(--color-1c1c1b);
  padding: 8px;
  border-radius: 8px;
}
.gr-12 {
  width: 100%;
  
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img{
  margin: auto;
  display: block;
}
.gr-6 .product-card .wishlist {
  right: 6%;
}

.gr-3 {
  width: 24%;
}
.gr-3 .action-bar {
  top: 10%;
}
.gr-3 .product-card:hover .action-bar{
  right: 10px;
}
.gr-3 .product-card .wishlist {
  top: 2%;
  right: 5%;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-12 .product-card .product-image {
  width: 270px;
  height: auto;
}
.gr-12 .product-card .wishlist {
  top: 4%;
  right: 3%;
}
.gr-12 .action-bar {
  top: 20%;
}
/**============== Our Store Section Ends ===================== */

/**============== Contact Section Starts ===================== */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #ffffff;
  gap: 10px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 5px;
  border-color: transparent;
  padding: 10px;
}
.contact-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
  color: var(--color-131921);
  padding: 0;
  letter-spacing: 0;
}
.info-content {
  color: var(--color-777777);
  letter-spacing: 0.3px;
  line-height: 22px;
  font-size: 13px;
  padding-bottom: 10px;
}
.info-content span {
  padding-right: 10px;
}
/**============== Contact Section Ends ======================= */

/**============== Compare Product Section Starts ======================= */
.compare-product-card {
  padding: 20px 15px;
  background-color: #ffffff;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-card h5.title{
  font-size : 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}

.compare-product-details h6.price,
.wishlist-card h6.price{
  font-size : 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.099);
}

/**============== Compare Product Section Ends ========================= */

/**============== Login Section Starts ================================= */

.auth-card {
  padding: 20px;
  background-color: #ffffff;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 600;
  text-align: center;
  color: var(--color-777777);
}
.auth-card p{
  font-size: 13px;
  color: var(--color-777777);
}
.auth-card .form-control {
  height: 50px;
  background-color: var(--color-f5f5f7);
  font-size: 14px;
  border-radius: 5px;
  border-color: transparent;
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-1c1c1b);
}

.signup {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  border: none;
}

.signup:hover {
  background-color: var(--color-131921);
  color: white;
  border: none;
}

/**============== Login Section Ends =================================== */

/**============== Terms and Conditions Section Starts =================================== */
.policy {
  background-color: #ffffff;
  padding: 30px;
}
/**============== Terms and Conditions Section Ends ===================================== */


/**============== Single Product Section Starts =================================== */
.prod_img {
  border: 1px solid var(--color-d9d9d9);
}
.prod_detail__title {
  border-bottom: 1px solid var(--color-d9d9d9);
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
}
.prod_detail__price {
  font-size: 22px;
  font-weight: 600;
}
.prod_detail__review p{
  font-size: 13px;
  color: var(--color-777777);
}
.prod_detail_link_wrapper {
  border-bottom: 1px solid var(--color-d9d9d9);
  padding: 0 0 10px 0;
}
.prod_detail__link{
  font-size: 14px;
  color: var(--color-777777);
}
.prod_detail__link:hover{
  font-size: 14px;
  color: var(--color-777777);
}

.desc-radius{
  border-radius: 10px;
}
.description-wrapper h4,
.reviews-wrapper h3{
  font-size: 26px;
  color: var(--color-1c1c1b);
  font-weight: 600;
}
.description-wrapper p{
  font-size: 14px;
  color: var(--color-777777);
}

.review-inner-wrapper {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}
.prod_detail_info {
  padding: 10px 0 10px 0;

}
.prod_detail__heading {
  font-size: 14px;
  color: var(--color-1c1c1b);
  font-weight: 600;
  padding: 10px 0 0 0;
}
.prod_detail__data {
  font-size: 13px;
  color: var(--color-777777);
  margin: 0 0 7px 0;
}
.review-head {
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  padding-bottom: 20px;
}
.review-head h4 {
  font-size: 18px;
  color: var(--color-1c1c1b);
}
.review-head p, .review-head a{
  font-size: 14px;
  color: var(--color-777777);
}
.review-form h4 {
  font-size: 16px;
  color: var(--color-777777);
}
.review-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--color-777777);
}
.review:not(){
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.accordion-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0 10px 0;
}
.prod-accordion-title  {
  font-size: 14px;
  color: var(--color-1c1c1b);
  font-weight: 400;
}

/**========================== Single Product Section Ends ========================= */
